<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text='Accueil' ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-text color='warning' > <strong>Acteurs Judiciaires</strong> </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='warning' [fullscreen]="true">
  <ion-card  [routerLink]="['/tab2']" routerLinkActive="root"  >
    <img src="/assets/Imgs/img.jfif" alt="">
    <ion-card-header>
      <ion-card-subtitle>
        Acteurs judidciaires
      </ion-card-subtitle>
      <ion-card-title>Acteurs judidciaires</ion-card-title>
    </ion-card-header>
  </ion-card>
<ion-buttons>
  <ion-back-button></ion-back-button>

</ion-buttons>
  <ion-card>
    <button class="accordion">LES MAGISTRATS</button>
   <ion-card class="panel">
    <ion-text><h1 class="ion-text-center ion-text-capital-letter"><strong>LES MAGISTRATS</strong></h1></ion-text>
    <ion-text> <br>
      Magistrats : Loi organique N° 050-2015/CNT du 25 août 2015 portant statut de la magistrature <br>
     <br> En juridiction, les magistrats se composent des magistrats du siège (juges) et en magistrats du parquet. <br>
<div>
Sont magistrats du siège :
</div>
    </ion-text>
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les présidents, les vice-présidents, les présidents de chambre des juridictions supérieures, des Cours d'appel et des tribunaux ; </b> <br>
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les conseillers des juridictions supérieures et ceux des Cours d'appel ; </b> <br>
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les juges des tribunaux pour enfants ; </b> 
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les juges au siège et les juges d'instruction des tribunaux de grande instance ;</b>    
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les juges des juridictions administratives ;</b>    
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les juges des tribunaux du travail ;</b>    
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les juges des tribunaux de commerce ;</b>    
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les juges des tribunaux d’instance ;</b>    
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les juges des enfants.</b> <br>
    
    <div>Sont magistrats du parquet :</div>
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les Procureurs généraux ; </b>    
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les Avocats généraux ; </b>    
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les substituts des procureurs généraux ;</b> <br>
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les Procureurs du Faso et leurs substituts.</b> <br>
<ion-text>
  <h5><b>NB :</b> Les Commissaires du gouvernement et leurs adjoints sont assimilés aux magistrats du parquet. <br>
  </h5>
</ion-text>
<ion-text>
  <h5><b>Recrutement :  <br>
    <h5><b>Le concours direct :</b> Peuvent prendre part au concours d’entrée à l’école de la magistrature, les personnes remplissant les conditions suivantes :</h5>
  </b></h5>
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>être de nationalité burkinabè ; </b> 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>être âgé de 22 ans au moins et de 40 ans au plus ; </b> 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>jouir de ses droits civiques ; </b> 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>être de bonne moralité ; </b> 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>remplir les conditions d’aptitudes mentales exigées pour l’exercice de l’emploi ; </b> 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>n’avoir jamais été condamné à une peine d’emprisonnement ferme de trois mois au moins ou de dix-huit mois au moins assortie de sursis à l’exception des délits d’imprudence ; </b> 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>être titulaire au moins de la maîtrise en droit ou de tout autre diplôme reconnu équivalent.  </b> 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>être de nationalité burkinabè ; </b> 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>être de nationalité burkinabè ; </b> 
  <div>
    Peuvent également prendre part au concours d’entrée à l’école de la magistrature, les personnels titularisés de l’administration judiciaire remplissant les conditions suivantes :
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>être titulaire au moins de la maîtrise en droit ou de tout autre diplôme reconnu équivalent ; </b> 
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>avoir une ancienneté d’au moins trois ans d’exercice effectif. </b> 
  </div>
</ion-text>
 <div>
   <h5><b>Inscription sur titre : </b></h5>
   Sont nommés directement auditeurs de justice, s'ils en font la demande et dans la proportion de 5% des places disponibles, après avis favorable du Conseil supérieur de la magistrature : <br>
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> les avocats régulièrement inscrits au tableau de leur ordre et ayant effectivement exercé depuis dix ans au moins et âgés de quarante-cinq ans au plus ;  
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> les docteurs en droit titulaires de l’enseignement supérieur ou de la recherche remplissant les mêmes conditions que ci-dessus.
  
 </div>
 <div>
  <b>   <h5><b>Attributions :</b></h5>
   <b>Les magistrats du siège,</b>en principe sont seuls investis de la fonction de juger en matière civile, pénale, commerciale, sociale et administrative.
  </b><br>
  <b>Les magistrats du parquet </b>interviennent principalement en matière pénale. Ils sont chargés de défendre les intérêts de la société. A cet effet, ils : <br>
  <ion-icon name="send-sharp"></ion-icon>mettent en mouvement l’action publique ; <br>
  <ion-icon name="send-sharp"></ion-icon>assistent aux débats des juridictions de jugement ; toutes les décisions sont prononcées en sa présence. <br>
  <ion-icon name="send-sharp"></ion-icon>assurent l'exécution des décisions et des mandats de justice ainsi que des décisions des juridictions d'instruction ; <br>
  <ion-icon name="send-sharp"></ion-icon>peuvent charger la police judiciaire de recueillir tous renseignements qu'il estime utiles à une bonne administration de la justice ;
  <ion-icon name="send-sharp"></ion-icon>représentent en personne ou par ses substituts le ministère public devant les juridictions de première instance ; 
  <ion-icon name="send-sharp"></ion-icon>reçoivent les plaintes et les dénonciations et décide de la suite à leur donner ;
  <ion-icon name="send-sharp"></ion-icon>avisent le plaignant en cas de classement sans suite ; 
  <ion-icon name="send-sharp"></ion-icon>procèdent ou font procéder à tous les actes nécessaires à la recherche et à la poursuite des infractions à la loi pénale ;
  <ion-icon name="send-sharp"></ion-icon>dirigent l'activité des officiers et agents de la police judiciaire dans son ressort de compétence ;
  <ion-icon name="send-sharp"></ion-icon>exercent les pouvoirs qui lui sont attribués par la loi en cas d'infraction flagrante.


</div>
  </ion-card>
  </ion-card>


    <ion-card>
      <button class="accordion">LE PERSONEL DU CORPS DES GREFFIERS </button>
      <ion-card class="panel">
       <ion-text><h2 class="ion-text-center ion-text-capital-letter"><strong>LE PERSONEL DU CORPS DES GREFFIERS</strong></h2></ion-text>
 <ion-text>Loi n°054/AN du 18 décembre 2012 portant statut du personnel du corps des greffiers. <br> Les greffiers sont des auxiliaires de justice chargés principalement d’assister les magistrats dans leurs missions.Le statut comporte 3 catégories :   <br>
  <br><b> les greffiers en chef, les greffiers et les secrétaires des greffes et parquets.</b> </ion-text> <br>
<ion-text><br><b>Recrutement :</b> <br></ion-text>
<br> Nul ne peut postuler à un emploi du personnel du corps des greffiers : <br>

<div>
 <br> <ion-text><br><b>Concours direct :</b></ion-text><br>
  <br> L’accès à l’école de formation des professions judiciaires pour la formation de secrétaires des greffes et parquets,  greffier et  greffier en chef se fait par concours direct ouvert par arrêté du ministre chargé de la justice et titulaires respectivement du brevet d’études du premier cycle, du baccalauréat, de la maîtrise en sciences juridiques ou de tous autres diplômes reconnus équivalents.
</div>
<br> <ion-text><b>Concours professionnel :</b></ion-text> <br>
<br> Les concours professionnels sont ouverts aux personnels du corps des greffiers ou à d’autres personnels de l’administration publique occupant les emplois immédiatement inférieurs à ceux auxquels le concours donne accès, âgés de 47 ans au maximum au 31 décembre de l’année d’ouverture du concours et justifiant d’au moins cinq (5) ans d’ancienneté dans l’administration publique et dont trois (03) ans dans l’emploi pour les greffiers et les SGP.
<br>
<br> L’ancienneté de cinq (05) ans est réduite de trois (03) ans pour les candidats SGP titulaires du baccalauréat au concours de greffier et pour les candidats greffiers titulaires de la licence au concours de greffier en chef. <br>
<br> S’agissant de celui des SGP, seuls sont appelés à concourir le personnel de l’administration judiciaire de catégories D et assimilées, titulaire du BEPC et justifiant de cinq (05) ans d’ancienneté dans l’administration judiciaire. <br>
<br> Nul ne peut postuler à un emploi du personnel du corps des greffiers : <br>
<br><ion-icon name="play-sharp"></ion-icon> s’il ne possède la nationalité burkinabè ;. <br>
<br><ion-icon name="play-sharp"></ion-icon> s’il ne jouit de ses droits civiques et s’il n’est de bonne moralité ;<br>
<br><ion-icon name="play-sharp"></ion-icon> s’il ne remplit les conditions d’aptitudes physiques et mentales exigées pour l’exercice de l’emploi ; <br>
<br><ion-icon name="play-sharp"></ion-icon> s’il n’est âgé de dix-huit ans au moins et de trente-sept ans au plus ; <br>
<br><ion-icon name="play-sharp"></ion-icon> s’il a fait l’objet d’une condamnation à une peine d’emprisonnement ferme de trois mois au moins ou avec sursis de dix-huit mois au moins.

<div>
<ion-text><b>Attributions :</b></ion-text>
Les greffiers ont pour missions de gérer le Greffe dans son ensemble. A ce effet, ils sont chargés de : <br>
<ion-icon name="play-sharp"></ion-icon> Assister le juge dans les actes de sa juridiction (audience, auditions, interrogatoires…) ; <br>
<ion-icon name="play-sharp"></ion-icon> Conserver les minutes des jugements et archives de la juridiction ; <br>
<ion-icon name="play-sharp"></ion-icon> Authentifier les actes et décisions juridictionnels en délivrer des extraits, des expéditions et des copies ; <br>
<ion-icon name="play-sharp"></ion-icon> Garder les scellés et toutes sommes et pièces déposées, à quel que <br>
<ion-icon name="play-sharp"></ion-icon>titre que ce soit, au greffe ; <br>
<ion-icon name="play-sharp"></ion-icon> Gérer les caisses d’avances et de menues dépenses ; <br>
<ion-icon name="play-sharp"></ion-icon> Assurer les fonctions d’auxiliaire du Trésor public par la perception et le reversement des droits et taxes requis pour certaines formalités judiciaires. <br>
<ion-icon name="play-sharp"></ion-icon>
</div>
      </ion-card>
    </ion-card>
     
     <ion-card>
      <button class="accordion">AVOCATS</button>
      <ion-card class="panel">
        <ion-text><h1 class="ion-text-center ion-text-capital-letter"><strong>AVOCATS</strong></h1></ion-text>
<ion-text>    
     Règlement n°05/CM/UEMOA relatif à l’harmonisation des règles régissant la profession d’avocat dans l’espace UEMOA <br>
</ion-text>   
<br><b>Recrutement :</b> admission sur la liste du stage <br>
<br><ion-icon name="play-sharp"></ion-icon> Etre titulaire d’un master II ou maitrise en droit ou diplôme reconnu équivalant et du C.A.P.A ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Etre âgé de 21 ans au moins ; <br>
Fournir un dossier comprenant : <br>
<br><ion-icon name="play-sharp"></ion-icon> Un acte de naissance ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Un casier judiciaire ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Un certificat de nationalité ; <br>
<br> Sont dispensés du CAPA : <br>

<br><ion-icon name="play-sharp"></ion-icon> Les magistrats ayant accomplis au moins 10 ans de pratiques  professionnelles en juridiction et qui auront préalablement démissionnés de leur fonction ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Les professeurs agrégés des facultés de droit. <br>
<br><b>Attributions :</b> 
<br><ion-icon name="play-sharp"></ion-icon> Plaider, postuler et représente, sans limitation territoriale, les parties en toutes matières devant les juridictions ou organismes juridictionnelles ou disciplinaires et devant les instances arbitrales, sauf dispositions particulières prévues par la législation nationale ;<br>
<br><ion-icon name="play-sharp"></ion-icon> Assister leurs clients devant toutes les administrations publiques ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Exercer les fonctions d’arbitre, de médiateur et de conciliateur ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Peuvent être liquidateurs amiables ou judiciaires, administrateurs provisoires et syndics ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Donner des conseils et des consultations en matière juridiques ;<br>
<br><ion-icon name="play-sharp"></ion-icon> Rédiger des actes sous seing privés ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Peuvent être liquidateurs amiables ou judiciaires, administrateurs provisoires et syndics ; <br>
<br><ion-icon name="play-sharp"></ion-icon> Peuvent être liquidateurs amiables ou judiciaires, administrateurs provisoires et syndics ; <br>

<ion-card>
  <button class="accordion">LES NOTAIRES</button>
<ion-card class="panel">
  <ion-text><h1 class="ion-text-center ion-text-capital-letter"><strong>AVOCATS</strong></h1></ion-text>
  <ion-text>    
    Loi n°021-2019/AN du 7 mai 2019 portant statut des notaires 
  </ion-text> 
  <br><b>Recrutement :</b> <br>
  Pour être admis aux fonctions de notaire, il faut :
  <br><ion-icon name="play-sharp"></ion-icon> être de nationalité burkinabè ou être ressortissant d’un Etat accordant la réciprocité ;  <br>
  <br><ion-icon name="play-sharp"></ion-icon> être âgé de vingt-cinq ans révolus ;  <br>
  <br><ion-icon name="play-sharp"></ion-icon> avoir la jouissance de ses droits civiques ;  <br>
  <br><ion-icon name="play-sharp"></ion-icon> n'avoir subi aucune condamnation à une peine d’emprisonnement d’au moins trois mois ferme ou dix-huit mois assortie du sursis pour crimes ou délits volontaires de droit commun ou à toute autre peine incompatible avec la fonction notariale ;  <br>
  <br><ion-icon name="play-sharp"></ion-icon> ne pas avoir été l'auteur d'agissements ayant donné lieu à une sanction disciplinaire ou administrative de destitution, de radiation ou de révocation ; <br>
  <br><ion-icon name="play-sharp"></ion-icon> être titulaire au minimum de la maîtrise en droit ou d'un diplôme reconnu équivalent ;  <br>
  <br><ion-icon name="play-sharp"></ion-icon> avoir subi avec succès le concours d’accès aux fonctions de notaire ; <br>
  <br><ion-icon name="play-sharp"></ion-icon> avoir accompli deux années de stage dans un office de notaire et dont le maitre de stage totalise trois années d’exercice professionnel ou dans une société professionnelle notariale ; <br>
  <br><ion-icon name="play-sharp"></ion-icon> avoir obtenu un avis favorable du ministère en charge de la justice suite à une enquête de moralité.  <br>
  
  <br><b>Attributions :</b> 
  <br><ion-icon name="play-sharp"></ion-icon>il reçoit tous les actes et contrats auxquels les parties doivent ou veulent faire donner le caractère d’authenticité attaché aux actes de l’autorité publique et pour en assurer la date, en conserver le dépôt, en délivrer des copies exécutoires, des extraits et expéditions. <br>
  <br><ion-icon name="play-sharp"></ion-icon> Il est conseil juridique de son client à l’occasion des actes instrumentés par son ministère.  <br>
</ion-card>

</ion-card>
      </ion-card>
     </ion-card>

     <ion-card>
      <button class="accordion">LES NOTAIRES</button>
    <ion-card class="panel">
      <ion-text><h1 class="ion-text-center ion-text-capital-letter"><strong>LES NOTAIRES</strong></h1></ion-text> <br>
      <ion-text>    
      <br> Loi n°021-2019/AN du 7 mai 2019 portant statut des notaires <br>
      </ion-text> 

      <br><b>Recrutement :</b> <br>

    <br>  Pour être admis aux fonctions de notaire, il faut : <br>
      <br><ion-icon name="play-sharp"></ion-icon> être de nationalité burkinabè ou être ressortissant d’un Etat accordant la réciprocité ;  <br>
      <br><ion-icon name="play-sharp"></ion-icon> être âgé de vingt-cinq ans révolus ;  <br>
      <br><ion-icon name="play-sharp"></ion-icon> avoir la jouissance de ses droits civiques ;  <br>
      <br><ion-icon name="play-sharp"></ion-icon> n'avoir subi aucune condamnation à une peine d’emprisonnement d’au moins trois mois ferme ou dix-huit mois assortie du sursis pour crimes ou délits volontaires de droit commun ou à toute autre peine incompatible avec la fonction notariale ;  <br>
      <br><ion-icon name="play-sharp"></ion-icon> ne pas avoir été l'auteur d'agissements ayant donné lieu à une sanction disciplinaire ou administrative de destitution, de radiation ou de révocation ; <br>
      <br><ion-icon name="play-sharp"></ion-icon> être titulaire au minimum de la maîtrise en droit ou d'un diplôme reconnu équivalent ;  <br>
      <br><ion-icon name="play-sharp"></ion-icon> avoir subi avec succès le concours d’accès aux fonctions de notaire ; <br>
      <br><ion-icon name="play-sharp"></ion-icon> avoir accompli deux années de stage dans un office de notaire et dont le maitre de stage totalise trois années d’exercice professionnel ou dans une société professionnelle notariale ; <br>
      <br><ion-icon name="play-sharp"></ion-icon> avoir obtenu un avis favorable du ministère en charge de la justice suite à une enquête de moralité.  <br>
      
      <br><b>Attributions :</b>  <br>
      <br><ion-icon name="play-sharp"></ion-icon>il reçoit tous les actes et contrats auxquels les parties doivent ou veulent faire donner le caractère d’authenticité attaché aux actes de l’autorité publique et pour en assurer la date, en conserver le dépôt, en délivrer des copies exécutoires, des extraits et expéditions. <br>
      <br><ion-icon name="play-sharp"></ion-icon> Il est conseil juridique de son client à l’occasion des actes instrumentés par son ministère.  <br>
    </ion-card>
    
    </ion-card>
     
    <ion-card>
      <button class="accordion">HUISSIERS DE JUSTICE </button>
     <ion-card class="panel">
      <ion-text><h1 class="ion-text-center ion-text-capital-letter"><strong>HUISSIERS DE JUSTICE </strong></h1></ion-text> <br>
      <br> L’huissier de justice est un officier ministériel et public <br>
      <br><b>Recrutement :</b> <br>
 <br> Pour être titulaire d’une charge d’huissier de justice, il faut remplir les conditions suivantes : <br>
 <br><ion-icon name="play-sharp"></ion-icon> être de nationalité burkinabè ou ressortissant d’un Etat accordant la réciprocité ;   <br>
 <br><ion-icon name="play-sharp"></ion-icon> être âgé de vingt-trois ans au moins et de quarante ans au plus au moment de la nomination ;   <br>
 <br><ion-icon name="play-sharp"></ion-icon> être titulaire de la maîtrise en droit ou de tout autre diplôme reconnu équivalent ;  <br>
 <br><ion-icon name="play-sharp"></ion-icon> être admis au concours d’huissier de justice et avoir accompli avec succès le stage ;    <br>
 <br><ion-icon name="play-sharp"></ion-icon> n’avoir pas été déclaré en faillite ou en liquidation judiciaire ;  <br>
 <br><ion-icon name="play-sharp"></ion-icon> jouir de ses droits civiques ;   <br>
 <br><ion-icon name="play-sharp"></ion-icon> n’avoir jamais été condamné à une peine d’emprisonnement pour crime ou délit, ou à une amende pour infraction contre les biens à l’exception des infractions involontaires ;  <br>
 <br><ion-icon name="play-sharp"></ion-icon> n’avoir été frappé d’aucune sanction disciplinaire ou incapacité professionnelle à raison d’un fait contraire à l’honneur ou à la probité.    <br>
 <br><b>Attributions :</b>  <br>
 <br>L’huissier de justice a seule qualité pour :  <br>
 <br><ion-icon name="play-sharp"></ion-icon> signifier les actes et les exploits ;  <br>
 <br><ion-icon name="play-sharp"></ion-icon> faire les notifications prescrites par les lois et règlements lorsque le mode de notification n’a pas été précisé ;    <br>
 <br><ion-icon name="play-sharp"></ion-icon> procéder à l’exécution des décisions de justice ainsi que des actes ou titres en forme exécutoire ; <br>
 <br><ion-icon name="play-sharp"></ion-icon> peut procéder au recouvrement amiable de toutes créances civiles et commerciales ;   <br>
 <br><ion-icon name="play-sharp"></ion-icon>peut être commis par voie judiciaire pour effectuer des constatations purement matérielles, exclusives de tout avis sur les conséquences de fait ou de droit qui peuvent en résulter. <br>   <br>
 <br><ion-icon name="play-sharp"></ion-icon>peut également procéder à des constatations de même nature à la requête des particuliers. 
     </ion-card> 
    </ion-card>
</ion-content>
