<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text='Accueil' ></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-title class="ion-text-center">
        <ion-text color='success' > <strong>Actes Judiciaires</strong> </ion-text>
      </ion-title>    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success" [fullscreen]="true">
  <ion-card [routerLink]="['/tab3']" routerLinkActive="router-link-active"  >
    <img src="/assets/Imgs/img2.jfif"   alt="">
    <ion-card-header>
      <ion-card-subtitle>
        Juridictions
      </ion-card-subtitle>
      <ion-card-title>Actes Judiciaires</ion-card-title>
    </ion-card-header>

   </ion-card>

  
   
   
  <ion-card>
    <button class="accordion ion-text-center">CASIER JUDICIAIRE</button>
    <ion-card class="panel">
      <ion-text color="danger" ><h1 class="ion-text-center ion-text-capital-letter"><strong>1.CASIER JUDICIAIRE</strong></h1></ion-text>
      Le Tribunal compétent est le Tribunal de grande instance du lieu de naissance, <br>
       <br> Composition du dossier:
       <br> <ion-icon name="arrow-forward-outline"></ion-icon> Demande timbrée à 200 f (timbre fiscal) adressée au Chef de greffe du Tribunal de grande instance du lieu de naissance ;<br>
       <br> <ion-icon name="arrow-forward-outline"></ion-icon> Acte de naissance de l’intéressé ; <br>
       <br> <ion-icon name="arrow-forward-outline"></ion-icon> Informations complémentaires : lieu du domicile, profession et situation matrimoniale de l’intéressé ; <br>
       <br> <ion-icon name="arrow-forward-outline"></ion-icon> Frais : 500 f CFA ; <br>
       <br> <ion-icon name="arrow-forward-outline"></ion-icon> Durée de traitement : Néant <br>
       <br> <ion-icon name="arrow-forward-outline"></ion-icon> Validité : 3 mois à compter de la date de délivrance. <br>
       
    </ion-card>
  </ion-card>
   
  <ion-card>
    <button class="accordion ion-text-center">CERTIFICAT DE NATIONALITE BURKINABE</button>
    <ion-card class="panel">
      <ion-text color="danger" ><h1 class="ion-text-center ion-text-capital-letter"><strong>2.CERTIFICAT DE NATIONALITE BURKINABE</strong></h1></ion-text>
      <br> <ion-icon name="arrow-forward-outline"></ion-icon> Structure compétente : tous les Tribunaux de grande instance du Burkina Faso  <br>
      <br> <ion-icon name="arrow-forward-outline"></ion-icon> Demande timbrée à 200 f (timbre fiscal) adressée au Président du Tribunal de grande instance du lieu voulu ;<br>
      <br> <ion-icon name="arrow-forward-outline"></ion-icon> Frais Original: 500 f CFA <br>
      <br> <ion-icon name="arrow-forward-outline"></ion-icon> Frais copie : 100 FCFA<br>
      <br> <ion-icon name="arrow-forward-outline"></ion-icon> Temps de traitement : Néant <br>
      <ion-text color="SUCCESS" ><h1 class="ion-text-center ion-text-capital-letter"><strong>I.Nationalité en raison de la nationalité burkinabè du père ou de la mère</strong></h1></ion-text>
<strong><b>Condition :</b></strong> être né d’un père ou d’une mère burkinabè <br>
<br><strong><b>Composition du dossier :</b></strong>   
<br> <ion-icon name="arrow-forward-outline"></ion-icon> Acte de naissance du demandeur (extrait d’acte de naissance, déclaration de naissance, bulletin de naissance, copie intégrale d’acte de naissance, jugement supplétif d’acte de naissance, volet n°1 d’acte de naissance ou autre à saisir)<br>
<br> <ion-icon name="arrow-forward-outline"></ion-icon> Le certificat de nationalité du père ou de la mère du demandeur<br>
<ion-text color="SUCCESS" ><h1 class="ion-text-center ion-text-capital-letter"><strong>II.Nationalité en raison de la naissance au Burkina de parents inconnus </strong></h1></ion-text>
<br><strong><b>Composition du dossier :</b></strong> <br>  
<br> <ion-icon name="arrow-forward-outline"></ion-icon> Copie intégrale de l’acte de naissance du demandeur (absence d’identité du père et de la mère sur l’acte de naissance)
<br>
<ion-text color="SUCCESS" ><h1 class="ion-text-center ion-text-capital-letter"><strong>III.Nationalité en raison de la naissance au Burkina avec l’impossibilité de se prévaloir d’une nationalité d’origine</strong></h1></ion-text>
<br><strong><b>Composition du dossier :</b></strong> <br>  

<br> <ion-icon name="arrow-forward-outline"></ion-icon> Acte de naissance du demandeur (extrait d’acte de naissance, déclaration de naissance, bulletin de naissance, copie intégrale d’acte de naissance, jugement supplétif d’acte de naissance, volet n°1 d’acte de naissance ou autre à saisir) <br>
<br> <ion-icon name="arrow-forward-outline"></ion-icon> Acte attestant l’impossibilité de se prévaloir d’une nationalité d’origine ou à défaut se rendre au TGI choisi
<br>

<ion-text color="SUCCESS" ><h1 class="ion-text-center ion-text-capital-letter"><strong>IV.Nationalité en raison de la naissance au Burkina de père ou de mère né au Burkina </strong></h1></ion-text>
<br><strong><b>Composition du dossier :</b></strong> <br>  

<br> <ion-icon name="arrow-forward-outline"></ion-icon> Acte de naissance du demandeur né au Burkina (extrait d’acte de naissance, déclaration de naissance, bulletin de naissance, copie intégrale d’acte de naissance, jugement supplétif d’acte de naissance, volet n°1 d’acte de naissance ou autre à saisir) <br>
<br> <ion-icon name="arrow-forward-outline"></ion-icon> Acte de naissance du père ou de la mère, né au Burkina (extrait d’acte de naissance, déclaration de naissance, bulletin de naissance, copie intégrale d’acte de naissance, jugement supplétif d’acte de naissance, volet n°1 d’acte de naissance ou autre à saisir) <br>
</ion-card>
  </ion-card> 

  <ion-card>
    <button class="accordion">Section 2</button>
    <ion-card class="panel">
      <p>Lorem ipsum...</p>
    </ion-card>
  </ion-card>

  <ion-card>
    <button class="accordion">Section 2</button>
    <ion-card class="panel">
      <p>Lorem ipsum...</p>
    </ion-card>
  </ion-card>

  <ion-card>
    <button class="accordion">Section 2</button>
    <ion-card class="panel">
      <p>Lorem ipsum...</p>
    </ion-card>
  </ion-card>

  <ion-card>
    <button class="accordion">Section 2</button>
    <ion-card class="panel">
      <p>Lorem ipsum...</p>
    </ion-card>
  </ion-card>

  
</ion-content>
