<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text='ACCUEIL' ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-text color='danger' > <strong>Juridictions</strong> </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='danger' [fullscreen]="true">
  <ion-card >
    <img src="/assets/Imgs/img1.jfif" alt="">
    <ion-card-header>
      <ion-card-subtitle>
        Juridictions
      </ion-card-subtitle>
      <ion-card-title>Juridictions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <button class="accordion ion-text-center ion-text-capital-letter">LE TRUBINAL DEPARTEMENTAL</button>
    <ion-card class="panel" >
      <ion-text >
        <h1 color="dark" class="ion-text-center ion-text-capital-letter"><strong><b>LE TRUBINAL DEPARTEMENTAL</b></strong></h1>
      </ion-text>
    <ion-text color="danger" ><h4 class="ion-text-center ion-text-capital-letter" > I.Compétence matérielle</h4>
    </ion-text> 
  <div>
    <ion-text  color="dark" >
  
    <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>litiges en matières civiles et commerciales dont le taux évalué en argent ne dépasse pas trois cent mille  (300 000) francs CFA ; </b>
   <br>
   <br><ion-icon name="arrow-forward-outline"></ion-icon> <b> des différends civils relatifs à la divagation d’animaux, dévastation de champs, de récoltes sur pied ou engrangées, bris de clôture, lorsque le montant de la réclamation n’excède pas  trois cent mille (300 000) francs CFA. </b>
    </ion-text>
  </div>
  <br>
  <ion-text  color="secondary"><h4 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence territoriale</h4>
  </ion-text>
  ressort territoriale de l’arrondissement
  <ion-text  color="secondary"><h4 color="secondary" class="ion-text-center ion-text-capital-letter" > mode de saisine</h4>
  </ion-text>
  requête verbale ou écrite. 
    </ion-card>
    </ion-card>
    

  <ion-card>
    <button class="accordion ion-text-center ion-text-capital-letter">LE TRUBINAL DE GRANDE INSTANCE </button>
     <ion-card class="panel">
      <ion-text >
        <h1 color="dark" class="ion-text-center ion-text-capital-letter"><strong><b>LE TRUBINAL DE GRANDE INSTANCE  </b></strong></h1>
      </ion-text>
      <ion-text  color="secondary" ><h4 class="ion-text-center ion-text-capital-letter" > Compétence matérielle</h4><br>En matière civile
      </ion-text> 
     <br> <div>compétence générale dans toutes les affaires civiles pour lesquelles compétence n’est pas attribuée expressément par la loi à une autre juridiction. </div>
     
     <br>compétence exclusive dans les matières suivantes : <br>
  
  
   <br><ion-icon name="arrow-forward-outline"></ion-icon> <b>l’état des personnes : mariage, divorce, séparation de corps, filiation, adoption, l’absence et la disparition, contestations sur la nationalité ;</b>
   <br>
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>la rectification des actes de l’état civil ; </b>
   <br>
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les régimes matrimoniaux ; </b> <br>
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>la rectification des actes de l’état civil;</b> 
   <br>
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les successions ;</b> <br>
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les réclamations civiles dont le montant du principal est supérieur à trois cent mille (300.000) de francs CFA ;</b> <br>
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les actions en matière immobilière ;</b> <br>
   <br> <ion-icon name="arrow-forward-outline"></ion-icon> <b>les actions en matière de droit d’auteur et de propriété industrielle (brevet d’invention, marque de fabrique, appellation d’origine) ;</b> <br>
   <br> <ion-icon name="arrow-forward-out    1°) en cas d'urgence ordonner toutes les mesures qui ne se heurtent à aucune contestation sérieuse et que justifie l'existence d'un différend ; <br>
    line"></ion-icon> <b>les actions intentées par ou contre les officiers ministériels en règlement de leurs frais.</b> <br>
  <br> Il est juge d’appel des décisions rendues par les tribunaux départementaux ou d’arrondissement en matière civile. Il est juge d’appel des décisions rendues par les tribunaux départementaux ou d’arrondissement en matière civile. 
    <ion-text  class="ion-text-center"  color="secondary"><h5>En matière pénale</h5></ion-text>
    compétence sauf dispositions spéciales pour connaître des infractions que la loi qualifie de contraventions ou de délits (préciser en note de bas de page les définitions du délit et de la contravention).

    <ion-text  class="ion-text-center"  color="secondary"><h5>Compétence territoriale</h5></ion-text>
    Le ressort territorial est déterminé par la loi.

    <ion-text  class="ion-text-center" color="secondary"><h5>Mode de saisine</h5></ion-text>
    En matière civile <br>
   <br> par assignation ou par requête selon les cas. 
<p>   <ion-text>En matière pénale:</ion-text>
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> la procédure de flagrant délit,
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> la procédure de la citation directe, 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> la procédure de renvoi fait par la juridiction d’instruction.  
  <ion-list>
  <ion-card>
      <ion-label>
        <ion-text color="danger"  class="ion-text-center">
          <h4>LES 
            ATTRIBUTION DU PRESIDENT U TRUBINAL DE GRANDE INSTANCE <br>
          </h4>
      </ion-text>

      </ion-label>
    </ion-card>
  </ion-list>
  <ion-text class="ion-text-center" ><h4>Compétence matérielle</h4></ion-text> <br>
  référé
  <div>
    1°) En cas d'urgence ordonner toutes les mesures qui ne se heurtent à aucune contestation sérieuse et que justifie l'existence d'un différend ; <br>
  </div>
<div>
 <br> 2°) prescrire, même en cas de contestation sérieuse, les mesures conservatoires ou de remise en état qui s'imposent, soit pour prévenir un dommage imminent, soit pour faire cesser un trouble manifestement illicite ; 
</div>
<div>
<br>  3°) accorder une provision au créancier dans le cas où l'existence de l'obligation n'est pas sérieusement contestable. 
</div>
<br>
Les requête, 
<div>
 br statue par ordonnance dans les matières telles que les gardes d’enfants, les pensions alimentaires, les rectifications d’acte d’état civil etc
</div>
 </ion-card>
 
</ion-card>
<ion-card>
  <button class="accordion ion-text-center ion-text-capital-letter">LES ATTRIBUTIONS DU PRESIDENT DU TRUBINAL DE GRANDE INSTANCE
  </button>
  <ion-card class="panel" >
    <ion-text >
      <h1 color="dark" class="ion-text-center ion-text-capital-letter"><strong><b>LES ATTRIBUTIONS DU PRESIDENT DU TRUBINAL DE GRANDE INSTANCE</b></strong></h1>
    </ion-text>
  <ion-text color="danger" ><h4 class="ion-text-center ion-text-capital-letter" > I.Compétence matérielle</h4>
  </ion-text> 
   référé <br>
<div>
  <ion-text  color="dark" >
<div>
<br>  1°) en cas d'urgence ordonner toutes les mesures qui ne se heurtent à aucune contestation sérieuse et que justifie l'existence d'un différend ;
</div>
<div>
  <div>
 <br>   3°) accorder une provision au créancier dans le cas où l'existence de l'obligation n'est pas sérieusement contestable. 
  </div>
<br>




2°) prescrire, même en cas de contestation sérieuse, les mesures conservatoires ou de remise en état qui s'imposent, soit pour prévenir un dommage imminent, soit pour faire cesser un trouble manifestement illicite ; 
</div>
 Les requête, 
  </ion-text>
  <div>
   <br> statue par ordonnance dans les matières telles que les gardes d’enfants, les pensions alimentaires, les rectifications d’acte d’état civil etc</div>
</div> <br>
<div>difficultés d’exécution relatives aux titres exécutoires et des contestations qui s’élèvent à l’occasion de l’exécution forcée.</div>
<br>
<ion-text  color="secondary"><h4 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence territoriale</h4>
</ion-text>
La compétence territoriale du tribunal.
<ion-text  color="secondary"><h4 color="secondary" class="ion-text-center ion-text-capital-letter" > mode de saisine</h4>
</ion-text>
Assignation en matière de référé <br>
<br>
Requête en matière d’ordonnance 
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >LE TRIBUNAL DE TRAVAIL </h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
</div>
<div>
 <ion-icon name="arrow-forward-outline"></ion-icon> différends individuels pouvant s’élever entre les travailleurs, les stagiaires et leurs employeurs, les apprentis et leurs maîtres, à l’occasion de l’exécution des contrats.  
 
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> litiges nés de l’application du régime de sécurité sociale ;<br>
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> différends individuels relatifs à l’application des conventions collectives de travail et aux arrêtés en tenant lieu ;  <br>
  <br> <ion-icon name="arrow-forward-outline"></ion-icon> différends nés entre travailleurs à l’occasion du contrat de travail ainsi qu’aux actions directes des travailleurs contre l’entrepreneur prévues à par la loi ; <br>
  <br> <ion-icon name="arrow-forward-outline"></ion-icon>différends nés entre travailleurs et employeurs à l’occasion du travail ; 5. des différends nés entre les institutions de prévoyance sociale et leurs assujettis ; <br>
  <br> <ion-icon name="arrow-forward-outline"></ion-icon>actions récursoires des entrepreneurs contre les sous-traitants.
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Le ressort territorial est déterminé par la loi
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisine</h4></ion-text>
  Le tribunal du travail est saisi par requête.
</div>
<div>
  <ion-text><h2 class="ion-text-center ion-text-capital-letter" >Les attributions du président du tribunal</h2></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  compétent en matière de référé.
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Le ressort territorial est celui du tribunal du travail.
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisine</h4></ion-text>
  Le président du tribunal du travail est saisi par requête.
</div>
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >LE TRIBUNAL DE COMMERCE </h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon> des contestations relatives aux engagements et transactions entre commerçants, entre établissements de crédit ou entre eux et dont le taux évalué en argent est supérieur à la somme  de trois cent mille (300.000) de francs CFA; <br>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon>des contestations relatives aux sociétés commerciales ; <br>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon>des contestations relatives aux actes et effets de commerce entre toutes personnes tels que prévus par les articles 3 et 4 de l'Acte Uniforme de l'OHADA relatifs au droit commercial général <br>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon>des procédures collectives d'apurement du passif ; <br>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon>des contestations entre associés pour raison d'une société de commerce ou d’un groupement d’intérêt économique. <br>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon>En appel des décisions rendues par les tribunaux départementaux ou d’arrondissement en matière commerciale. <br>
  <br><ion-icon name="caret-forward-sharp"></ion-icon>des procédures collectives d'apurement du passif ; <br>
  <ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Le tribunal de Commerce est institué au siège de chaque TGI et a comme ressort territorial celui du TGI. 
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisine</h4></ion-text>
  Le tribunal de Commerce est saisi par assignation et par requête selon les cas.
</div>
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >LES ATTRIBUTS DU PRESIDENT DU TRIBUNAL</h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  Le président du tribunal de Commerce est compétent en matière de référé et d’ordonnance sur requête conformément aux dispositions du code de procédure civile et des lois spéciales dans les matières relevant des attributions du tribunal. Il connait en outre du contentieux de l’immatriculation au registre de commerce.
  <ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Le ressort territorial du président du tribunal est celui du tribunal de commerce.
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisine</h4></ion-text>
  Le président du tribunal est saisi par voie d’assignation et par requête selon les cas.
  <ion-text><h2 color="secondary" class="ion-text-center ion-text-capital-letter" >LES ATTRIBUTS DU PRESIDENT DU TRIBUNAL</h2></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  <br> La Cour d’appel est la juridiction d’appel des décisions rendues en premier ressort en matière civile, commerciale, et correctionnelle et de simple police par les tribunaux de grande instance, en matière commerciale  par le tribunal de commerce  et en matière sociale par les tribunaux du travail. Elle statue en matière criminelle en premier et dernier ressort. <br>

 <br> La chambre correctionnelle connaît également en appel des décisions rendues par le juge de l’application des peines. <br>
 <br> En matière criminelle, les sections de la chambre criminelle statuent en premier ressort. En cas d’appel, la chambre criminelle statue en dernier ressort. <br>
 <br> La Cour d’appel statue également comme juridiction d’appel relativement aux décisions correctionnelles ou criminelles rendues par le tribunal militaire. <br>
 <br> La chambre pour enfants a compétence pour connaître en appel des décisions rendues par la section pour enfants et par le juge des enfants. <br>
 <ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
 Elle est déterminée par la loi
 <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisie</h4></ion-text>
<br> En matière civile, commerciale et sociale la Cour d’appel est saisie selon le cas par acte d’appel dressé par un huissier de justice ou par simple requête déposée au greffe de la Cour (note art.550 et 563) . <br>
<br> En matière pénale, la Cour d’appel est saisie par acte d’appel dressé par le greffe de la juridiction qui a rendu la décision. . 
</div>
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >LES ATTRIBUTS DU PREMIER PRESIDENT</h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  Le premier président connait des appels interjetés contre les décisions rendues par le juge des référés, le juge de l’exécution et le juge des requêtes. Il connait également des appels interjetés contre les ordonnances du bâtonnier de l’Ordre des avocats. Il connait enfin des requêtes aux fins de défenses à exécution provisoire rendues en premier ressort et contre lesquelles il y a eu appel.
  <ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Le ressort territorial de la juridiction du premier président est celui de la Cour d’appel.
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisie</h4></ion-text>
  En matière civile, commerciale et sociale la juridiction du premier président est saisie selon le cas par acte d’appel dressé par un huissier de justice ou par simple requête déposée au greffe de la Cour.
</div> <br>
<ion-label>
  <ion-text>
<h4 color="primary" class="ion-text-center ion-text-capital-letter">
  LES HAUTES COURS
</h4>  </ion-text>
</ion-label>
<ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >La Cour de Cassation</h3></ion-text>
La Cour de cassation est la juridiction supérieure de l’ordre judiciaire. <br>
 <br> Les attributions de la Cour de Cassation et celles du premier président
 <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
 statue sur les pourvois en cassation formés contre les arrêts et les jugements en dernier ressort, rendus par les juridictions de l’ordre judiciaire.
 elle est aussi compétente en matière de :
 <br> <ion-icon name="caret-forward-sharp"></ion-icon>demandes en révision en matière pénale ;  <br>
 <br> <ion-icon name="caret-forward-sharp"></ion-icon>règlements des juges ;  <br>
 <br> <ion-icon name="caret-forward-sharp"></ion-icon>récusations ;  <br>
 <br> <ion-icon name="caret-forward-sharp"></ion-icon>contrariétés d’arrêts ou de jugements en dernier ressort, entre les mêmes parties sur les mêmes moyens, entre différentes juridictions ; <br>
<br> <ion-icon name="caret-forward-sharp"></ion-icon>de toutes procédures pour lesquelles la loi lui attribue compétence. <br>
<ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
le territoire national.

<div>
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisie</h4></ion-text>
  La Cour de Cassation est saisie………………….
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >Les attributions du premier président</h3></ion-text>
</div>
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >le tribunal administratif</h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon>Le TA est juge de droit commun du contentieux administratif ; sauf dans les cas déterminés par la loi, il statue en premier ressort à charge d’appel devant la Cour administrative d’appel. <br>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon>connait des recours en interprétation ou en appréciation de la légalité des actes administratifs dont le contentieux relève de sa compétence.  <br>
  <br> <ion-icon name="caret-forward-sharp"></ion-icon>connait des recours en interprétation ou en appréciation de la légalité des actes administratifs dont le contentieux relève de sa compétence.  <br>
  <ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Ressort territorial du tribunal administratif est celui du tribunal de grande instance.
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-Le ressort territorial du président du tribunal administratif est celui du tribunal administratif.letter" >Mode de saisie</h4></ion-text>
  Le tribunal administratif est saisi par requête.
</div>
<div>  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >Les attributions du président du tribunal administratif</h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  a procédure de référé : référé suspension, référé liberté, référé provision et référé mesures provisoires
  <ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Le ressort territorial du président du tribunal administratif est celui du tribunal administratif.
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisie</h4></ion-text>
  Le président du tribunal administratif est saisi par requête.
</div>
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >la Cour administrative d’appel</h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  La Cour administrative d’appel connaît des recours contre les jugements rendus en premier ressort par les tribunaux administratifs.
  <ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Le ressort territorial de la Cour administrative d’appel est celui de la Cour d’appel de l’ordre judiciaire.
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisie</h4></ion-text>
  La Cour administrative d’appel est saisie par requête.
</div>
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >Les attributions du premier président de la Cour administrative d’appel</h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  Le premier président de la Cour administrative d’appel statue sur les recours contre les ordonnances rendues par le président du tribunal administratif siégeant en matière de référé.
  <ion-text><h5 color="primary" class="ion-text-center ion-text-capital-letter" >Compétence  territoriale</h5></ion-text>
  Le ressort territorial du premier président est celui de la Cour administrative d’appel
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisie</h4></ion-text>
  Le président de la Cour administrative d’appel est saisi par voie de requête déposée au greffe.
</div>
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >Le Conseil d’Etat</h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  Le Conseil d’Etat est la juridiction supérieure de l’ordre administratif. <br>
  <br> Le conseil d’Etat connaît en premier et dernier ressort, des recours en annulation pour excès de pouvoir formés contre : <br>
  <br> <ion-icon name="play-sharp"></ion-icon>les décrets ; <br>
  <br> <ion-icon name="play-sharp"></ion-icon>les autres actes réglementaires dont le champ d’application, s’étend au-delà du ressort d’un seul tribunal administratif. <br>
  <br> <ion-icon name="play-sharp"></ion-icon>Il connaît également en premier et dernier ressort des recours en interprétation, en déclaration d’inexistence ou en appréciation de la légalité des actes relevant de sa compétence. <br>
  <br> <ion-icon name="play-sharp"></ion-icon>Le conseil d’Etat est seul compétent pour statuer sur les recours en cassation dirigés contre les décisions rendues en dernier ressort par les juridictions administratives et les juridictions administratives spécialisées (en compte dans le glossaire). <br>
  <br> <ion-icon name="play-sharp"></ion-icon>En matière d’élections locales le Conseil d’Etat est ; <br>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  Le ressort territorial du conseil d’Etat couvre le territoire national.
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisie</h4></ion-text>
  Le Conseil d’Etat est saisi par requête.
</div>
<div>
  <ion-text><h3 color="secondary" class="ion-text-center ion-text-capital-letter" >   Les attributions du premier président du Conseil d’Etat</h3></ion-text>
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  Le premier président statue en premier et dernier ressort suivant la procédure de référé sur les recours aux fins de suspension des décrets ou des actes administratifs règlementaires dont le champ d’application dépasse le ressort d’un seul tribunal administratif. Il est également compétent pour connaitre en cassation des ordonnances rendues en dernier ressort par les présidents des juridictions administratives inférieures.
  <ion-text><h5 color="secondary" class="ion-text-center ion-text-capital-letter" >Compétence Materielle</h5></ion-text>
  Le ressort territorial de la juridiction du premier président est celui du Conseil d’Etat.
  <ion-text><h4  color="secondary" class="ion-text-center ion-text-capital-letter" >Mode de saisie</h4></ion-text>
  Le premier président du Conseil d’Etat est saisi par requête.

</div>
  </ion-card>

  <ion-label>
    
  </ion-label>
  <div>

  </div>
  </ion-card>
  
</ion-content>
